AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
BinPackParameters: false
BreakBeforeBraces: Attach
ColumnLimit: 80
PointerAlignment: Right
QualifierAlignment: Right
UseTab: Never
NamespaceIndentation: All
AllowShortFunctionsOnASingleLine: None
IndentWidth: 4